html,body {
    height: 100%;
}
body{
    background-color: rgb(61, 61, 61);
    background-image: url(images/background-adare-restaurant.jpg), linear-gradient(black,white);
    /* background-image: linear-gradient(black,white); */
    background-size: 100% 150%;
    background-repeat: no-repeat,repeat;
    background-position: center, absolute;
    
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    /* background-color: blue; */
    height: 160px;
    text-align: center;

    /* margin-left: auto;
    margin-right: auto; */
}

nav{
    background-color: rgba(0, 0, 0, 0.493);
    border-radius : 12px;
    margin-top:20px;
    float: center;
    text-align: center;
    
    
}

nav .table{
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

nav ul#hr-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    /* display: inline-block; */

  }
  
  nav ul#hr-list li {
    float: left;
    display : inline;
  }
  
  nav ul#hr-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav  ul#hr-list li a:hover:not(.active) {
    background-color: #111;
  }
  
  nav .active {
    background:
        linear-gradient(
            to bottom, white 0%,
            var(--mainColor) 12%
        );
  }


main{
    /* background-color:orange; */
    height: 400px;
    text-align: center;
    padding-top: px;
    padding-left: 200px;
    padding-right: 240px;
}

footer{
    background-color:rgb(39, 38, 38);
    margin-top: 400px;
    height: 100px;
    padding-top: 50px;
    text-align: center;
}

h1{
    color: White;
    font-size: 80px;
    /* font-family: sans-serif, Arial, Helvetica;  */
    /* the computer check if the computer has any one of these */
}

p{
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer p{
    font-size: 13px;
}

:root{
--mainColor: rgb(0, 0, 0);
--secondColor: transparent;
}

.reserv{
    background: transparent;
    border: 2px solid red;
    border-radius:12px;
    padding: 10px 10px 10px 10px;
    background:
        linear-gradient(
            to bottom, var(--secondColor) 0%,
            var(--mainColor) 100%
        );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 0px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: background-size .1s;
}

a.reserv:hover{
    background-size: 4px 50px;
    -webkit-box-shadow: -2px 3px 43px -7px rgba(255,8,8,1);
    -moz-box-shadow: -2px 3px 43px -7px rgba(255,8,8,1);
    box-shadow: -2px 3px 43px -7px rgba(255,8,8,1);
}

.maps{
    padding-bottom: 100px;
}


#left {
    float: left;
    
}

#right {
    float: right;
    
}
